
.space-between{
    display: flex;
    justify-content: space-between;
  
}	

.cabezera{
    background-color: yellow;
    
}

.pagination li a{
    padding: 0px;
    margin: 0 4px ;
}
.pagination li a i{
    border:1px solid black;

   
}

.pag-titulo{
    margin:0 5px;
}

.centrado{
    display: inline-flex;
    align-items:center;
}

.border{
    border-bottom: 1px solid black;
   
}
.publicidad{
    display: inline-flex; flex-direction: column;
}

.p-0{
    padding: 0 !important;
}
.collapsible-header,.collapsible-body{
    border: none;
    text-decoration: none;
   }
.collapsible-header{
    padding: 5px 12px  ;
}
.collapsible-body{
    padding: 5px 12px;;
}